@font-face {
  font-family: "JetBrains Mono Regular";
  src: url(./../assets/JetBrains-Mono/JetBrainsMono-Regular.woff2);
}
@font-face {
  font-family: "JetBrains Mono Medium";
  src: url(./../assets/JetBrains-Mono/JetBrainsMono-Medium.woff2);
}
@font-face {
  font-family: "JetBrains Mono Semi-Bold";
  src: url(./../assets/JetBrains-Mono/JetBrainsMono-SemiBold.woff2);
}
@font-face {
  font-family: "JetBrains Mono Bold";
  src: url(./../assets/JetBrains-Mono/JetBrainsMono-Bold.woff2);
}
@font-face {
  font-family: "JetBrains Mono Extra Bold";
  src: url(./../assets/JetBrains-Mono/JetBrainsMono-ExtraBold.woff2);
}
:root {
  --regular-font: "JetBrains Mono Regular", monospace;
  --medium-font: "JetBrains Mono Medium",monospace;
  --semi-bold-font: "JetBrains Mono Semi-Bold", monospace;
  --bold-font: "JetBrains Mono Bold", monospace;
  --extra-bold-font: "JetBrains Mono Extra Bold", monospace;
  --grey-color: #aaa; 
  --width: 950px;
  --form-padding: 15px 10px;
}
/* html {
  height: 100vh;
} */
body {
  font-family: "JetBrains Mono Regular", monospace;
  color: white;
  background-color: black;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  & header {
    border: 2px solid white;
    width: var(--width);
    padding: 24px;

    & h1 {
      font-family: var(--bold-font);
      margin-bottom: 20px;
    }

    & .task-counter {
      color: var(--grey-color);
    }
  }

  & .button-wrapper {
    width: var(--width);
    margin-top: 8px;
    border: 2px solid white;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 8px;

    & p {
      font-family: var(--medium-font);
      font-size: 18px;
    }
  }

  & button {
    background-color: black;
    color: white;
    font-family: var(--semi-bold-font);
    border: 2px solid white;
    padding: 4px 8px;
  }

  & button:hover {
    cursor: pointer;
    background-color: #2f2929;
  }

  /* & button:active {
    background-color: #2f2929;
  } */

  & button:focus {
    background-color: #2f2929; 
  }

  & form#task-form {
    width: var(--width);
    border: 2px solid white;
    margin-top: 8px;
    padding: var(--form-padding);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
    align-items: center;

    & label {
      font-family: var(--medium-font);
      display: flex;
      flex-direction: column;
    }
    
    & input,select,textarea {
      background-color: black;
      color: white;
      border: 2px solid white;
      padding: 4px 0px 4px 5px;
    }

    & input:focus,select:focus,textarea:focus {
      outline: 1px solid white;
    }

    & select {
      height: 36px;
    }

    & label.task-description {
      grid-column: -1 / 1;
    }

    & textarea {
      height: 83px;
      /* padding: 5px 5px; */
    }

    & button.add {
      width: fit-content;
      margin-top: 4px;
    }
  }

  & form#folder-form {
    width: var(--width);
    border: 2px solid white;
    margin-top: 8px;
    padding: var(--form-padding);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 8px;
    align-items: end;

    & label {
      font-family: var(--medium-font);
      display: flex;
      flex-direction: column;
    }
  
    & input {
      background-color: black;
      color: white;
      border: 2px solid white;
      padding: 4px 0px 4px 5px;
    }
  
    & input:focus {
      outline: 1px solid white;
    }
  
    & button.add {
      width: fit-content;
      margin-top: 4px;
    }
  }

  
}
